<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd ">

    <!-- Connector -->
    <bean id="connectionFactory" class="com.dmall.spotmix.sdk.core.ConnectionFactory">
        <property name="accessKey" value="7c98a718e7cab74e5c3f2c57bf91ceab04fb6702"/>
        <property name="secretKey" value="59ffd7b197aaaf0edd75541b0d187ebaea99569c"/>
        <property name="authUrl" value="10.248.1.24:9437"/>
    </bean>
    <bean id="defaultHandler" class="com.dmall.blas.collect.core.DefaultHandler"/>

    <!-- Consumer -->
    <bean id="subscribeContainer" class="com.dmall.spotmix.sdk.core.ConsumerContainer" init-method="init">
        <property name="factory" ref="connectionFactory"/>
        <property name="handler" ref="defaultHandler"/>
        <property name="properties">
            <props>
                <prop key="group.id">group_test</prop>
                <prop key="auto.offset.reset">smallest</prop>
                <prop key="zookeeper.connection.timeout.ms">30000</prop>
                <prop key="zookeeper.session.timeout.ms">10000</prop>
                <prop key="auto.commit.enable">false</prop>
                <prop key="rebalance.max.retries">10</prop>
                <prop key="rebalance.backoff.ms">3000</prop>
                <prop key="topic.name">up_collect_dmall_com_nginx_access</prop>
                <prop key="num.packets.per.batch">1</prop>
                <prop key="num.consumers">1</prop>
                <prop key="upper.limit.msg.cnt">200</prop>
                <prop key="upper.limit.time.ms">3000</prop>
            </props>
        </property>
    </bean>

</beans>
