<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd"
    default-autowire="byName">

    <!--<context:component-scan base-package="com.dmall.blas.collect.dao" />-->

    <!--<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />-->
    <!---->
    <!--&lt;!&ndash; analytics slave 数据源 &ndash;&gt;-->
   <!--<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close"> -->
     	<!--<property name="url" value="${workBench.jdbc.url}" />-->
     	<!--<property name="username" value="${workBench.jdbc.username}" />-->
     	<!--<property name="password" value="${workBench.jdbc.password}" />-->
     	<!--<property name="driverClassName" value="${workBench.jdbc.driver}" />-->
     <!---->
     	<!--<property name="filters" value="${jdbc.filters}" />-->
     	<!--<property name="maxActive" value="${jdbc.maxActive}" />-->
     	<!--<property name="initialSize" value="${jdbc.initialSize}" />-->
     	<!--<property name="maxWait" value="${jdbc.maxWait}" />-->
     	<!--<property name="minIdle" value="${jdbc.minIdle}" />-->

     	<!--<property name="timeBetweenEvictionRunsMillis"><value>60000</value></property>-->
     	<!--<property name="minEvictableIdleTimeMillis"><value>300000</value></property>-->

     	<!--<property name="validationQuery"><value>SELECT 'x'</value></property>-->
     	<!--<property name="testWhileIdle"><value>true</value></property>-->
     	<!--<property name="testOnBorrow"><value>true</value></property>-->
     	<!--<property name="testOnReturn"><value>false</value></property>-->

     	<!--<property name="poolPreparedStatements"><value>false</value></property>-->
     	<!--<property name="maxOpenPreparedStatements"><value>-1</value></property>-->
 	<!--</bean>-->

	<!--&lt;!&ndash; 配置事务管理器 &ndash;&gt;-->
	<!--<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
		<!--<property name="dataSource" ref="dataSource" />-->
	<!--</bean>-->

	<!--&lt;!&ndash; 数据访问层 mapper配置 &ndash;&gt;-->
    <!--<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
        <!--<property name="dataSource" ref="dataSource"/>-->
        <!--<property name="configLocation" value="classpath:sqlmap-config.xml"/>-->
    <!--</bean>-->

    <!--<bean id="sqlTemplate" class="org.mybatis.spring.SqlSessionTemplate">-->
		<!--<constructor-arg index="0" ref="sqlSessionFactory" />-->
	<!--</bean>-->
	<!--<bean id="batchSqlTemplate" class="org.mybatis.spring.SqlSessionTemplate">-->
		<!--<constructor-arg index="0" ref="sqlSessionFactory" />-->
		<!--<constructor-arg index="1" value="BATCH" />-->
	<!--</bean>-->
</beans>